.collaborations-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	padding: 0 20px;
}

.collab {
	width: 90%;
	position: relative;
	margin-bottom: 20px;
	padding: 20px;
}

.badge {
	display: none;
	position: absolute;
	padding: 2px 4px;
	border-radius: 4px;
	transform: rotate(-30deg);
	text-shadow: 1px 1px 1px black;
}

.badge.ready {
	display: inline;
}

.badge.vocal {
	top: 20px;
	left: 10px;
	color: white;
	background: linear-gradient(60deg, rgb(13, 155, 3), #a4a400);
}

.badge.prod {
	top: 25px;
	left: -5px;
	color: white;
	background: linear-gradient(60deg, rgb(134, 0, 60), #c68c03);
}

.badge.remix {
	top: 20px;
	left: 10px;
	color: white;
	background: linear-gradient(60deg, #ff2ace, #007da4);
}

@media (min-width: 660px) {
	.collaborations-section {
		flex-flow: row wrap;
		padding: 0 40px;
	}

	.collab {
		flex-grow: 1;
		flex-basis: calc(100% / 2);
	}
}

@media (min-width: 900px) {
	.collaborations-section {
		margin-top: 60px;
		padding: 0 60px;
	}

	.collab {
		flex-basis: calc(100% / 3);
	}
}

@media (min-width: 1200px) {
	.collab {
		flex-basis: calc(100% / 4);
	}
}
