@font-face {
	font-family: 'Microgramma';
	src: url('../assets/Microgramma-Normal.woff2');
}

@font-face {
	font-family: 'Microgramma Bold';
	src: url('../assets/Microgramma-Bold.woff2');
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	overflow-x: hidden;
}

body.gradient-homepage {
	background: linear-gradient(-25deg, #8c4c7a, #464688, #604789, #8a264f, #7c8982 60%);
}

body.gradient-default {
	background: linear-gradient(-25deg, #8c4c7a, #464688, #604789, #8a264f);
}

h2.section-header {
	font-family: 'Microgramma';
	text-align: center;
	color: white;
	text-shadow: 4px 3px 1px black;
}

@media (min-width: 320px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}
