header {
	width: 100vw;
	height: 100vh;
	background-image: url('../assets/main-bg.jpg');
	background-color: #000;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: screen;

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#main-header-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(50, 30, 30, 0.5);
}

h1#main-header {
	text-align: center;
	font-family: Microgramma Bold;
	cursor: default;
	background-image: linear-gradient(90deg, #c5eb47, #05bbd3);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	transition: text-shadow 0.4s ease;
}

h1#main-header:hover {
	text-shadow: 0px 0px 15px rgb(0, 163, 147);
}

article {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}

.article-text {
	width: 80%;
}

.article-header {
	font-family: Microgramma;
	text-align: center;
}

.article-text p {
	text-align: justify;
	margin: 10px auto;
}

.article-image-container {
	width: 80%;
	position: relative;
}

.article-image-container:hover .article-hover-content {
	opacity: 1;
}

.article-hover-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 200ms ease;
}

.article-hover-content a {
	background: rgba(255, 255, 255, 0.8);
	color: black;
	text-decoration: none;
	padding: 4px 8px;
	border-radius: 2px;
	transition: background 250ms ease;
}

.article-hover-content a:hover {
	background: rgba(255, 255, 255);
}

.article-image {
	max-width: 100%;
	max-height: 100%;
}

section {
	margin-bottom: 50px;
}

@media (min-width: 320px) {
	h1#main-header {
		font-size: 56px;
	}

	.article-header {
		font-size: 24px;
	}

	.article-text p {
		font-size: 20px;
	}
}

@media (min-width: 460px) {
	.article-header {
		font-size: 32px;
	}

	.article-hover-content a {
		font-size: 28px;
	}
}

@media (min-width: 768px) {
	h1#main-header {
		font-size: 80px;
	}

	.article-text p {
		font-size: 26px;
	}
}

@media (min-width: 1000px) {
	article {
		flex-direction: row;
		padding: 0 20px;
	}

	article:nth-child(2n) {
		flex-direction: row-reverse;
	}

	.article-header {
		font-size: 40px;
	}

	.article-text p {
		font-size: 32px;
		padding: 0 40px;
	}
}

@media (pointer: coarse) {
}
